/* css for all */
* {background-image:url('http://37.media.tumblr.com/96afd6735a6dc54741e6a4d1c4235590/tumblr_n47g5hfpkh1tv9xj5o1_400.png')}
.all {text-align: center;font-family:Times new roman,Times,serif;}
a {text-decoration:none;} 
/* css for all */

/* list */
.list1>a  {padding:0px 10px;font-size:26px;background-image:none;background-color: #CDC8B1;border-style:groove;border-color:#707070;}

.list1>a:link {color:#780570;}
.list1>a:visited {color:#780570;}
.list1>a:hover {color:#CD0570;} 
.list1>a:active {color:#DF2792;}
/* list */




/* footer */
footer>p {font-size:1.3em;}

/* footer */