header {font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
font-size:4.5em;margin:20px auto 0px auto;color:#451660;background-image:none;background-color:#DED9C2;
border-radius:20px;width:500px;}