#mainpage {color:#451660;text-decoration:underline;font-size:20px;} 
#mainpage:link {color:#451660;}
#mainpage:visited {color:#451660;}
#mainpage:hover {color:#BA1660;}
#mainpage:active {color:#DC3882;}