/* css for all */
* {background-image:url('http://37.media.tumblr.com/96afd6735a6dc54741e6a4d1c4235590/tumblr_n47g5hfpkh1tv9xj5o1_400.png')}
.all {text-align: center;font-family:Times new roman,Times,serif;}
a {text-decoration:none;} 
/* css for all */

/* footer */
footer>p {font-size:1.3em;}

/* footer */