/* css for all */
* {background-image:url('http://37.media.tumblr.com/96afd6735a6dc54741e6a4d1c4235590/tumblr_n47g5hfpkh1tv9xj5o1_400.png')}
.all {text-align: center;font-family:Times new roman,Times,serif;}
a {text-decoration:none;} 
/* css for all */

/* symbol */
.symbo1 {width:30%;float:right;margin:50px;}
.textblock {width:50%;margin:4% 0px 0px 5%;padding:10px;display:inline-block;background-image:none;background-color:#EFD9C2;border-style:groove;border-color:#707070;}
/* symbol */

/* text */
.textblock>p {background-image:none;background-color:#EFD9C2;font-size:1.7em;font-family:Times New Roman}
/* text */



/* footer */
footer>p {font-size:1.3em;}

/* footer */
